*.gitignore text eol=lf
*.py text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.sh text eol=lf
*.make text eol=lf
Makefile text eol=lf
*.bat text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf 